%script(src="/javascripts/lib/domready.js")
%script(src="/javascripts/lib/underscore.js")
%script(src="/javascripts/lib/raphael.js")

%script(src="/javascripts/main.js")
%h1 SNAKE IN YO BROWSER!
#game

