%script(src="/javascripts/lib/raphael.js")
%script(src="/javascripts/lib/underscore.js")
%script(src="/javascripts/lib/keymaster.js")

%script(data-main="/javascripts/main" src="/javascripts/lib/require.js")

%h1 SNAKE IN YO BROWSER!
#game
#input-indicator

%hr

%a(href="https://github.com/moredip/snakes_in_a_browser")
  I AM ON GITHUB!