%script(src="/javascripts/lib/raphael.js")
%script(src="/javascripts/lib/underscore.js")
%script(src="/javascripts/lib/keymaster.js")

%script(src="/javascripts/lib/require.js")
:javascript
  require.config({
    baseUrl: 'javascripts'
  });
  //require(["main"]);
  if( window.location.search == "?dev"){
    require(["main"]);
  }else{
    require(["main.min"]);
  }

%h1 SNAKE IN YO BROWSER!
#game
#input-indicator

%hr

%a(href="https://github.com/moredip/snakes_in_a_browser")
  I AM ON GITHUB!
