!!! 5
%html
  %head
  %link(rel="stylesheet" type="text/css" href="/vendor/jasmine-sinon/jasmine-1.1.0/jasmine.css")
  %script(src="/vendor/jasmine-sinon/jasmine-1.1.0/jasmine.js")
  %script(src="/vendor/jasmine-sinon/jasmine-1.1.0/jasmine-html.js")
  %script(src="/vendor/jasmine-sinon/sinon-1.3.1/sinon-1.3.1.js")
  %script(src="/vendor/jasmine-sinon/jasmine-sinon.js")

  %script(src="/javascripts/lib/require.js")
  :javascript
    require.config({
      baseUrl: '/javascripts'
    });

  :javascript
    require([
      'specs/board_spec' 
    ], function(){
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter());    
      jasmine.getEnv().execute();
    });



